<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel ="stylesheet" type = "text/css" href="myStyle.css">
  <title>TinyApp</title>
</head>
<body>

    <% include partials/_header %>

    <h2 style="padding:5px">My URLs</h2>

    <table>
        <!-- looping through the urls and putting them in a table-->
        <% if(user.id) { %>
            <% for(var url in user.urlDb) { %>
                <tr >
                    <th style="padding:10px"><%= url %></th>
                    <th style="padding:10px" >
                        <a href='/urls/<%= url %>'> <%= user.urlDb[url]%></a>
                    </th>
                    <th style="padding:10px" >
                        <a> <%= user.visitLog[url]%></a>
                    </th>
                    <th style="padding:10px">
                        <form method="POST" action="/urls/<%= url %>/delete">
                            <button type="submit"> DELETE</button>
                        </form>
                    </th>
                </tr>
            <% }; %>
        <% } else { %>    
            <p>Please login in to view saved urls</p>
        <% } %>
    </table>
</body>
</html>

